#boutonSubmit {
    width:100px;
    height:30px;
    margin:auto;
    background-color:rgb(171, 171, 177);
}


#text {
    font-size: x-large;
    font-weight: bold;
    width: fit-content;
    font-weight: 900;
}

.colorBlue {
    background-color:blue;
}   

.colorRed {
    background-color:red;
} 